body{
    background: rgb(48, 199, 154);
}
button{
    margin: 0px 17%;
     padding:10px;
     font-size: 15px;
     
}
div.superior{
   padding: 15% 30%;
   
}
div.superior div.centro{
    border: 2px solid royalblue;
    padding:2%;
}

p{
    font-size: 30px;
    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}